<!DOCTYPE html>
<html lang="en">
    <head>
        <title>FÚTBOL INTERNACIONAL</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <!-- Custom CSS -->
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/futbol_internacional.css') }}"
        />
        <!-- Favicon -->
        <link
            rel="icon"
            type="imagenes/x-icon"
            href="{{ url_for('static', filename='imagenes/pelota de futbol.jpg') }}"
        />
    </head>
    <body>
        <header>
            <img
                class="img-logo"
                src="{{ url_for('static', filename='imagenes/foto imagen de pelota de futbol.png') }}"
                alt=""
            />
            <h1>FÚTBOL INTERNACIONAL</h1>
            <img
                class="img-logo"
                src="{{ url_for('static', filename='imagenes/foto imagen de pelota de futbol.png') }}"
                alt=""
            />
        </header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">INICIO</a></li>
                <li><a href="{{ url_for('futbol') }}">FÚTBOL</a></li>
                <li>
                    <a href="{{ url_for('futbol_ascenso') }}"
                        >FÚTBOL DE ASCENSO</a
                    >
                </li>
                <li><a href="#seccion1">TABLA DE POSICIONES</a></li>
            </ul>
        </nav>
        <h2 class="titulo">NOTICIAS</h2>
        <div class="contenedor">
            <div class="contenedor-0">
                <h5 class="h5-1">LIVERPOOL Y ARSENAL EMPATARON EN ANFIELD</h5>
                <div class="contenedor1">
                    <p class="texto">
                        <img
                            class="img1"
                            src="{{ url_for('static',filename='imagenes/Futbol Internacional 1.jpg') }}"
                            alt=""
                        />" />
                    </p>

                    <p class="texto">
                        Los Gunners rescataron un empate clave para ser líderes
                        en soledad, transcurridas 18 fechas de la Premier
                        League. LIVERPOOL y ARSENAL empataron 1-1 en Anfield, en
                        la continuidad de la fecha 18 de laPremier League. Los
                        Gunners, que se pusieron rápidamente en ventaja con un
                        gol de Gabriel a los cuatro minutos de juego, son
                        líderes en soledad con 40 unidades. A un punto quedó el
                        equipo de Klopp, que este sábado llegó a la igualdad
                        gracias a una gran definición de Mohamed Salah a la
                        media hora de partido. Ninguno de los dos pudo
                        aprovechar el empate de este viernes de Aston Villa y
                        ambos jugaron para Manchester City, que debido a su
                        participación en el Mundial de Clubes postergó su choque
                        ante Brentford como local. Sonaron las alarmas para
                        Klopp antes de la Navidad: Luis Díaz no pudo terminar el
                        encuentro por lesión y le dejó su lugar a Harvey
                        Elliott. Más temprano, el que pidió el cambio fue el
                        griego Konstantinos Tsimikas. El técnico alemán tampoco
                        cuenta con Alexis Mac Allister y en enero perderá a
                        Mohamed Salah, quien partirá a disputar la Copa de
                        África con Egipto. Arsenal recibirá el jueves a West Ham
                        y despedirá el año el 31 de diciembre ante Fulham en
                        condición de visitante. Por su parte, Liverpool jugará
                        el martes ante Burnley fuera de casa y abrirá el 2024 an
                        Anfield ante Newcastle.
                    </p>
                </div>
            </div>
            <div class="contenedor-0">
                <h5 class="h5-2">MANCHESTER UNITED CAYÓ ANTE WEST HAM</h5>
                <div class="contenedor1">
                    <img
                        class="img1"
                        src="{{ url_for('static', filename='imagenes/Futbol Internacional 2.jpg') }}"
                        alt=""
                    />
                    <p class="texto">
                        Con Alejandro Garnacho de titular, el equipo de Erik Ten
                        Hag sumó su octava derrota en la Premier League.
                        MANCHESTER UNITED agudizó su mal momento y volvió a
                        perder en Premier League, esta vez de visitante ante
                        West Ham por 2-0 en un partido válido por la fecha 18.
                        Con el argentino Alejandro Garnacho como titular, el
                        equipo de Erik Ten Hag no pudo recuperarse en el London
                        Stadium y sumó su octava derrota en el certamen. Los
                        goles de West Ham los anotaron Jarrod Bowen y Mohammed
                        Kudus. Con este triunfo, el conjunto londinense quedó
                        sexto con 30 puntos y se metió en zona de clasficación a
                        las copas. Manchester United, por su parte, sacó apenas
                        un punto de los últimos nueve que disputó y se estancó
                        en 28 unidades.
                    </p>
                </div>
            </div>
            <div class="contenedor-0">
                <h5 class="h5-3">INTER EN LA CIMA DE LA SERIE A</h5>
                <div class="contenedor1">
                    <img
                        class="img1"
                        src="{{ url_for('static', filename='imagenes/Futbol Internacional 3.jpg') }}"
                        alt=""
                    />
                    <p class="texto">
                        El Neroazzurro venció 2-0 a Lecce en el Giuseppe Meazza
                        y volvió a sacarle 4 puntos a Juventus, su escolta.
                        INTER derrotó 2-0 a Lecce en el Giuseppe Meazza y se
                        aseguró terminar el año en soledad en la cima de la
                        Serie A. El Neroazzurro abrió el marcador en el cierre
                        del primer tiempo por medio de Yann Bisseck y lo liquidó
                        pasada la media hora de juego de la segunda etapa con
                        gol de Nicolò Barella, después de una asistencia
                        fenomenal de taco de Marko Arnautovic. El delantero
                        Lameck Banda fue expulsado en la visita a falta de diez
                        minutos para el cierre del partido disputado en Milán.
                        Inter no sintió la ausencia por lesión de Lautaro
                        Martínez, quien debió abandonar el campo de juego antes
                        de tiempo en la sorpresiva eliminación del Neroazzurro
                        en la Copa Italia. Más temprano, Juventus derrotó 2-1 a
                        domicilio a Frosinoney le metió presión al único líder
                        de la Serie A. Además, Bologna venció por la mínima a
                        Atalanta con gol de Lewis Ferguson y se afianzó en el
                        cuarto puesto, siendo la grata revelación de la
                        temporada en Italia. Hellas Verona derrotó 2-0 a
                        Cagliari, mientras que Torino y Udinese repartieron
                        puntos tras el 1-1, en un duelo que tuvo como titulares
                        a Nehuén Pérez y Roberto Pereyra en la visita.
                    </p>
                </div>
            </div>
            <div class="contenedor-0">
                <h5 class="h5-4">ROMA LE GANO DERBI A NAPOLI</h5>
                <div class="contenedor1">
                    <img
                        class="img1"
                        src="{{ url_for('static', filename='imagenes/Futbol Internacional 4.jpg') }}"
                        alt=""
                    />
                    <p class="texto">
                        Con PAREDES de titular, ROMA se llevó un picante derbi
                        ante NAPOLI. El equipo de la capital triunfó como local
                        en un encuentro que dejó dos expulsados. LEANDRO PAREDES
                        pudo volver a sentirse importante en Roma. Allí, es
                        constantemente titular y en el clásico ante Napoli no
                        fue la excepción, donde su equipo triunfó 1-0 en el
                        Olímpico gracias al tanto de Lorenzo Pellegrini. Pese a
                        que la posesión y el dominio del juego fueron de la
                        visita, los de José Mourinho mostraron la efectividad y
                        profundidad necesarias para lastimar a un duro rival,
                        que ante la adversidad no supo sobreponerse y terminó
                        con dos expulsados: Victor Osimhen y Matteo Politano.
                        Esta victoria le permite al León subir al sexto puesto
                        de la tabla y quedar a sólo tres puntos de Bologna, el
                        último que clasifica a Champions League. Por su parte,
                        el cuadro de Mazzarri cayó al séptimo lugar.
                    </p>
                </div>
            </div>
            <div class="contenedor-0">
                <h5 class="h5-5">ATLÉTICO DE MADRID LE GANO A SEVILLA</h5>
                <div class="contenedor1">
                    <img
                        class="img1"
                        src="{{ url_for('static', filename='imagenes/Futbol Internacional 5.jpg') }}"
                        alt=""
                    />
                    <p class="texto">
                        El equipo de Diego Simeone se impuso 1-0 en el
                        Metropolitano. Nahuel Molina y Rodrigo De Paul fueron
                        titulares en el local y Lucas Ocampos en el elenco
                        andaluz. ATLÉTICO DE MADRIDle ganó a Sevilla por 1 a 0
                        en un partido pendiente de la cuarta fecha y escaló al
                        tercer puesto de LaLiga de España con 38 puntos, detrás
                        de Real Madrid y Girona, que comparte la primera línea
                        con 45. El conjunto colchonero logró el gol del triunfo
                        en el minuto 46 por intermedio de Marcos Llorente y más
                        tarde, a los 69 minutos, quedó en desventaja numérica
                        por la expulsión del defensor turco Caglar Söyüncü. Los
                        argentinos Nahuel Molina y Rodrigo De Paul jugaron desde
                        el inicio en Atlético; mientras que Ángel Correa, el
                        otro campeón mundial del plantel de Atlético, ingresó en
                        el segundo tiempo. Los tres finalizaron el juego con
                        tarjeta amarilla. Con la victoria, Atlético suma las
                        mismas unidades que el campeón Barcelona, al que relegó
                        al cuarto lugar por diferencia de gol. El ex River Plate
                        Lucas Ocampos integró la formación titular de Sevilla,
                        que volvió a perder después del debut victorioso de su
                        nuevo DT, Enrique Sánchez Flores. Esa victoria del
                        martes pasado (3-0 vs. Granada) fue la única en los
                        últimos 17 partidos, consideradas todas las competencias
                        de la temporada. El club andaluz renovó dos veces su
                        banca desde el inicio de la actual campaña, que comenzó
                        al mando de José Luis Mendilibar y continuó con el
                        uruguayo Diego Alonso, destituido tras la eliminación en
                        la fase de grupos de la Liga de Campeones de Europa.
                        Sevilla ocupa el 15° puesto con 16 unidades y se ubica a
                        sólo tres de Celta de Vigo, hoy en zona de descenso.
                    </p>
                </div>
            </div>
            <div class="contenedor-0">
                <h5 class="h5-6">TOTTENHAM DERROTO A EVERTON</h5>
                <div class="contenedor1">
                    <img
                        class="img1"
                        src="{{ url_for('static', filename='imagenes/Futbol Internacional 6.jpg') }}"
                        alt=""
                    />
                    <p class="texto">
                        El defensor argentino padeció una molestia muscular y
                        encendió las alarmas en Argentina. Los Spurs derrotaron
                        2-1 a Everton con sufrimiento. CRISTIAN ROMERO tuvo un
                        primer tiempo muy movido en el triunfo de Tottenham
                        frente a Everton en Londres. El defensor argentino tuvo
                        una destacada actuación durante esa primera mitad con un
                        cruce épico frente a Dominic Calvert Lewin Sin embargo,
                        en el entretiempo debió abandonar el partido por una
                        dolencia muscular. En su lugar ingresó Eric Dier.
                        Durante la segunda parte, al cordobés se lo vio con
                        hielo en el isquiotibial de su pierna derecha, en el
                        banco de suplentes. Resta saber el parte oficial de la
                        lesión del argentino. Por lo pronto, el equipo
                        londinense tiene dos partidos de acá a fin de año
                        (Brighton y Bournemouth). Los Spurs terminaron ganando
                        2-1 con goles de Richarlison y Son. Para Everton
                        descontó André Gomes.
                    </p>
                </div>
            </div>
            <div class="contenedor-0">
                <h5 class="h5-7">
                    AJAX ELIMINADO DE LA COPA DE LOS PAÍSES BAJOS
                </h5>
                <div class="contenedor1">
                    <img
                        class="img1"
                        src="{{ url_for('static', filename='imagenes/Futbol Internacional 7.jpg') }}"
                        alt=""
                    />
                    <p class="texto">
                        El equipo de Ámsterdam cayó 3-2 contra un equipo amateur
                        de la cuarta división neerlandesa. AJAX decidió
                        devolverle el importe de la entrada y el pasaje en
                        ómnibus a los hinchas luego de que el equipo fuese
                        sorpresivamente eliminado por el Hércules de Utrecht, de
                        cuarta división, al caer 3-2 en los 16vos de final de la
                        Copa neerlandesa. El conjunto amateur avergonzó al Ajax
                        y el club, conociendo del bochorno que provocó la
                        eliminación, tuvo un gesto con los 325 hinchas que
                        fueron a Utrecht y se les devolvió el costo de la
                        entrada para el partido y también el del viaje en
                        autobús, indicó el periódico deportivo español Marca. En
                        un comunicado el Ajax le expresó a sus hinchas: "Debido
                        al mal desempeño de nuestro equipo, sin duda vivieron el
                        partido Hércules-Ajax como doloroso. Compartimos ese
                        dolor y estamos avergonzados. Consultado con el equipo y
                        el personal técnico, se decidió que todos los
                        aficionados visitantes que hayan comprado una entrada
                        recibirán una compensación. Esto significa que les
                        reembolsaremos la entrada al partido y el viaje en
                        autobús". La entidad de la ciudad de Amsterdam señaló
                        además: "El importe pagado por esto pronto estará en sus
                        cuentas. Esta compensación no borra el recuerdo de la
                        dolorosa noche, pero no hacer nada no era una opción.
                        Gracias por su apoyo incondicional". Ajax, que llegó a
                        ser último en la presente temporada dela Eredividise
                        (Primer división neerlandesa) en octubre, remontó en las
                        últimas jornadas y llegó a estar quinto sumando 17
                        puntos de los últimos 21, pero esta derrota en la Copa
                        neerlandesa ha sido demasiado.
                    </p>
                </div>
            </div>
            <div class="contenedor-0">
                <h5 class="h5-8">JULIÁN ÁLVAREZ IMPARABLE</h5>
                <div class="contenedor1">
                    <img
                        class="img1"
                        src="{{ url_for('static', filename='imagenes/Futbol Internacional 8.jpg') }}"
                        alt=""
                    />
                    <p class="texto">
                        EL logro de JULIÁN ÁLVAREZ que no alcanzaron ni MARADONA
                        ni MESSI. El argentino de Manchester City no para de
                        hacer historia y consiguió una marca impactante. JULIÁN
                        ÁLVAREZ ES UNA MÁQUINA DE GANAR. Parece tener un imán
                        para atraer el metal de los 14 títulos que se adjudicó
                        hasta el momento, el primero de los cuales fue nada
                        menos que la final de la Libertadores 2018 en Madrid,
                        con River. Logró su último tesoro en el Mundial de
                        Clubes, en cuya final brilló con un doblete y una
                        asistencia para que Manchester City derrote a Fluminense
                        por 4-0, y fue designado como Man of the match. En un
                        año en el que su equipo se llevó la Premier League, la
                        FA Cup, la Champions League y ahora el trofeo levantado
                        en Yeda, la Araña alcanzó una marca impresionante que ni
                        siquiera alcanzaron Diego Maradona y Lionel Messi, los
                        mejores futbolistas argentinos de todos los tiempos.
                        Álvarez se convirtió en el primer futbolista de su país
                        y el tercero de todo el mundo de ganar las 5 coronas más
                        importantes a nivel clubes (Copa Libertadores, Champions
                        League, Mundial de Clubes) y Selección (Copa América y
                        Copa del Mundo). Los otros dos que lo consiguieron son
                        brasileños: el arquero Dida y el lateral Cafú, aunque
                        ambos llegaron a conquistar tales lauros ya de grandes,
                        mientras que el nacido en la localidad cordobesa de
                        Calchín apenas tiene 23 años y un largo recorrido por
                        delante para seguir disfrutando de su aura triunfadora.
                    </p>
                </div>
            </div>
        </div>
        <div id="seccion1" class="ligas">
            <div>
                <h2 class="ligas-1">LIGA INGLESA</h2>
                <h4 class="ligas-2">POSICIONES</h4>
                <table>
                    <thead>
                        <tr>
                            <th>Pos</th>
                            <th>Equipo</th>
                            <th>PJ</th>
                            <th>PG</th>
                            <th>PE</th>
                            <th>PP</th>
                            <th>PTS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>
                                <img
                                    src="{{ url_for('static',filename='imagenes/Liga Inglesa Arsenal.jpg') }}"
                                    alt=""
                                />
                                Arsenal
                            </td>
                            <td>18</td>
                            <td>12</td>
                            <td>4</td>
                            <td>2</td>
                            <td>40</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>
                                <img
                                    src="{{ url_for('static',filename='imagenes/Liga Inglesa Liverpool.jpg') }}"
                                    alt=""
                                />
                                Liverpool
                            </td>
                            <td>18</td>
                            <td>11</td>
                            <td>6</td>
                            <td>1</td>
                            <td>39</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>
                                <img
                                    src="{{ url_for('static',filename='imagenes/Liga Inglesa AstonVilla.jpg') }}"
                                    alt=""
                                />
                                Aston Villa
                            </td>
                            <td>18</td>
                            <td>12</td>
                            <td>3</td>
                            <td>3</td>
                            <td>39</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>
                                <img
                                    src="{{ url_for('static',filename='imagenes/Liga Inglesa Tottenham.jpg') }}"
                                    alt=""
                                />
                                Tottenham Hotspur
                            </td>
                            <td>18</td>
                            <td>11</td>
                            <td>3</td>
                            <td>4</td>
                            <td>36</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>
                                <img
                                    src="{{ url_for('static',filename='imagenes/Liga Inglesa ManchesterCity.jpg') }}"
                                    alt=""
                                />
                                Manchester City
                            </td>
                            <td>17</td>
                            <td>10</td>
                            <td>4</td>
                            <td>3</td>
                            <td>34</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>
                                <img
                                    src="{{ url_for('static',filename='imagenes/Liga Inglesa WestHam.jpg') }}"
                                    alt=""
                                />
                                West Ham United
                            </td>
                            <td>18</td>
                            <td>9</td>
                            <td>3</td>
                            <td>6</td>
                            <td>30</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>
                                <img
                                    src="{{ url_for('static',filename='imagenes/Liga Inglesa Newcastle.jpg') }}"
                                    alt=""
                                />
                                Newcastle United
                            </td>
                            <td>18</td>
                            <td>9</td>
                            <td>2</td>
                            <td>7</td>
                            <td>29</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>
                                <img
                                    src="{{ url_for('static',filename='imagenes/Liga Inglesa Manchester United.jpg') }}"
                                    alt=""
                                />
                                Manchester United
                            </td>
                            <td>18</td>
                            <td>9</td>
                            <td>1</td>
                            <td>8</td>
                            <td>28</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>
                                <img
                                    src="{{ url_for('static',filename='imagenes/Liga Inglesa Brighton.jpg') }}"
                                    alt=""
                                />
                                Brighton and Hove Albion
                            </td>
                            <td>18</td>
                            <td>7</td>
                            <td>6</td>
                            <td>5</td>
                            <td>27</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>
                                <img
                                    src="{{ url_for('static',filename='imagenes/Liga Inglesa Chelsea.jpg') }}"
                                    alt=""
                                />
                                Chelsea
                            </td>
                            <td>18</td>
                            <td>6</td>
                            <td>4</td>
                            <td>8</td>
                            <td>22</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <h2 class="ligas-1">LIGA ESPAÑOLA</h2>
                <h4 class="ligas-2">POSICIONES</h4>
                <table>
                    <thead>
                        <tr>
                            <th>Pos</th>
                            <th>Equipo</th>
                            <th>PJ</th>
                            <th>PG</th>
                            <th>PE</th>
                            <th>PP</th>
                            <th>PTS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>
                                <img
                                    src="{{ url_for('static',filename='imagenes/Liga Española Real Madrid.gif') }}"
                                    alt=""
                                />
                                Real Madrid
                            </td>
                            <td>18</td>
                            <td>14</td>
                            <td>3</td>
                            <td>1</td>
                            <td>45</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>
                                <img
                                    src="{{ url_for('static',filename='imagenes/Liga Española Girona.gif') }}"
                                    alt=""
                                />
                                Girona
                            </td>
                            <td>18</td>
                            <td>14</td>
                            <td>3</td>
                            <td>1</td>
                            <td>45</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>
                                <img
                                    src="{{ url_for('static',filename='imagenes/Liga Española Atletico de Madrid.gif') }}"
                                    alt=""
                                />
                                Atlético de Madrid
                            </td>
                            <td>18</td>
                            <td>12</td>
                            <td>2</td>
                            <td>4</td>
                            <td>38</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>
                                <img
                                    src="{{ url_for('static',filename='imagenes/Liga Española Barcelona.gif') }}"
                                    alt=""
                                />
                                Barcelona
                            </td>
                            <td>18</td>
                            <td>11</td>
                            <td>5</td>
                            <td>2</td>
                            <td>38</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>
                                <img
                                    src="{{ url_for('static',filename='imagenes/Liga Española Athletic Bilbao.gif') }}"
                                    alt=""
                                />
                                Atlético de Bilbao
                            </td>
                            <td>18</td>
                            <td>10</td>
                            <td>5</td>
                            <td>3</td>
                            <td>35</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>
                                <img
                                    src="{{ url_for('static',filename='imagenes/Liga Española Real Sociedad.gif') }}"
                                    alt=""
                                />
                                Real Sociedad
                            </td>
                            <td>18</td>
                            <td>8</td>
                            <td>7</td>
                            <td>3</td>
                            <td>31</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>
                                <img
                                    src="{{ url_for('static',filename='imagenes/Liga Española Betis.gif') }}"
                                    alt=""
                                />
                                Real Betis
                            </td>
                            <td>18</td>
                            <td>6</td>
                            <td>10</td>
                            <td>2</td>
                            <td>28</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>
                                <img
                                    src="{{ url_for('static',filename='imagenes/Liga Española Getafe.gif') }}"
                                    alt=""
                                />
                                Getafe
                            </td>
                            <td>18</td>
                            <td>6</td>
                            <td>8</td>
                            <td>4</td>
                            <td>26</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>
                                <img
                                    src="{{ url_for('static',filename='imagenes/Liga Española Las Palmas.gif') }}"
                                    alt=""
                                />
                                Las Palmas
                            </td>
                            <td>18</td>
                            <td>7</td>
                            <td>4</td>
                            <td>7</td>
                            <td>25</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>
                                <img
                                    src="{{ url_for('static',filename='imagenes/Liga Española Valencia.gif') }}"
                                    alt=""
                                />
                                Valencia
                            </td>
                            <td>18</td>
                            <td>6</td>
                            <td>5</td>
                            <td>7</td>
                            <td>23</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <h2 class="ligas-1">LIGA ITALIANA</h2>
                <h4 class="ligas-2">POSICIONES</h4>
                <table>
                    <thead>
                        <tr>
                            <th>Pos</th>
                            <th>Equipo</th>
                            <th>PJ</th>
                            <th>PG</th>
                            <th>PE</th>
                            <th>PP</th>
                            <th>PTS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>
                                <img
                                    src="{{ url_for('static',filename='imagenes/Liga Italiana Inter.gif') }}"
                                    alt=""
                                />
                                Inter
                            </td>
                            <td>17</td>
                            <td>14</td>
                            <td>2</td>
                            <td>1</td>
                            <td>44</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>
                                <img
                                    src="{{ url_for('static',filename='imagenes/Liga Italiana Juventus.gif') }}"
                                    alt=""
                                />
                                Juventus
                            </td>
                            <td>17</td>
                            <td>12</td>
                            <td>4</td>
                            <td>1</td>
                            <td>40</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>
                                <img
                                    src="{{ url_for('static',filename='imagenes/Liga Italiana Milan.gif') }}"
                                    alt=""
                                />
                                Milan
                            </td>
                            <td>17</td>
                            <td>10</td>
                            <td>3</td>
                            <td>4</td>
                            <td>33</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>
                                <img
                                    src="{{ url_for('static',filename='imagenes/Liga Italiana Bologna.gif') }}"
                                    alt=""
                                />
                                Bologna
                            </td>
                            <td>17</td>
                            <td>8</td>
                            <td>7</td>
                            <td>2</td>
                            <td>31</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>
                                <img
                                    src="{{ url_for('static',filename='imagenes/Liga Italiana Fiorentina.gif') }}"
                                    alt=""
                                />
                                Fiorentina
                            </td>
                            <td>17</td>
                            <td>9</td>
                            <td>3</td>
                            <td>5</td>
                            <td>30</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>
                                <img
                                    src="{{ url_for('static',filename='imagenes/Liga Italiana Roma.gif') }}"
                                    alt=""
                                />
                                Roma
                            </td>
                            <td>17</td>
                            <td>8</td>
                            <td>4</td>
                            <td>5</td>
                            <td>28</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>
                                <img
                                    src="{{ url_for('static',filename='imagenes/Liga Italiana Napoli.gif') }}"
                                    alt=""
                                />
                                Napoli
                            </td>
                            <td>17</td>
                            <td>8</td>
                            <td>3</td>
                            <td>6</td>
                            <td>27</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>
                                <img
                                    src="{{ url_for('static',filename='imagenes/Liga Italiana Atalanta.gif') }}"
                                    alt=""
                                />
                                Atalanta
                            </td>
                            <td>17</td>
                            <td>8</td>
                            <td>2</td>
                            <td>7</td>
                            <td>26</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>
                                <img
                                    src="{{ url_for('static',filename='imagenes/Liga Italiana Lazio.gif') }}"
                                    alt=""
                                />
                                Lazio
                            </td>
                            <td>17</td>
                            <td>7</td>
                            <td>3</td>
                            <td>7</td>
                            <td>24</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>
                                <img
                                    src="{{ url_for('static',filename='imagenes/Liga Italiana Torino.gif') }}"
                                    alt=""
                                />
                                Torino
                            </td>
                            <td>17</td>
                            <td>6</td>
                            <td>6</td>
                            <td>5</td>
                            <td>24</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="boton">
            <button><a href="">IR ARRIBA</a></button>
        </div>
        <footer>
            <p>DERECHOS RESERVADOS</p>
            <p>TRABAJO PRÁCTICO EXAMEN FINAL</p>
            <p>MARCELO ALLEGRINI</p>
            <div class="boton">
                <button><a href="{{ url_for('login') }}">LOGIN</a></button>
                <button>
                    <a href="{{ url_for('registro') }}">REGISTRARSE</a>
                </button>
            </div>
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
